<div id="assignment-div">
  <div class="col-md-4 col-md-offset-4" >
    <h1>Paylocity Assignment</h1>

    <form [formGroup]="myForm" autocomplete="off">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="">Employee First and Last name*</span>
        </div>
        <input
        autofocus
        (keypress)="restrictInput($event)"
        type="text" autocomplete="new"
        placeholder="FirstName"
        class="form-control"
        formControlName="employeeFirstName"
        required
        [ngStyle]="requiredFirstNameOutline">
        <input (keypress)="restrictInput($event)" type="text" autocomplete="new" placeholder="LastName" class="form-control" formControlName="employeeLastName" required [ngStyle]="requiredLastNameOutline">
      </div>

      <div formArrayName="dependents" id="dependent-group-div">
        <div *ngFor="let dependents of getControls(); let i=index" id="sub-dependent-div">
          <div>
            <span>Dependent {{i+1}}</span>
            <button *ngIf="getControlsLength() > 1" class="btn btn-danger btn-sm" id="remove-button-danger" (click)="removeDependent(i)">x</button>
          </div>
          <div [formGroupName]="i">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="">Dependent First and Last name</span>
              </div>
              <input (keypress)="restrictInput($event)" type="text" autocomplete="new" formControlName="dependentFirstName" placeholder="FirstName" class="form-control">
              <input (keypress)="restrictInput($event)" type="text" autocomplete="new" formControlName="dependentLastName" placeholder="LastName" class="form-control">
            </div>
          </div>
        </div>
      </div>

      <div id = "add-save-buttons-div">
        <button type="button" class = "btn btn-outline-primary" (click)="addDependent()">Add Another Dependent</button>
        &nbsp;
        <button type="button" class = "btn btn-outline-secondary" (click)="save()">Save Employee & Dependents</button>
      </div>
      <div>
        Employees saved: {{arrayOfPaylocityEmployees.length}}
        <span class="small-info-span" *ngIf="arrayOfPaylocityEmployees.length == 0">*(at least one employee required to calculate costs)</span>
        <div *ngFor="let item of arrayOfPaylocityEmployees">
          <label class="saved-employee-label">Employee: {{item.firstName}}&nbsp;{{item.lastName}}</label><br/>
          Dependents: {{item.dependents.length}}
          <div *ngFor="let dep of item.dependents">
            Dependent: {{dep.firstName}}&nbsp;{{dep.lastName}}
          </div>
        </div>
      </div>
      <div id = "submit-button-div">
        <button (click)="onSubmitClick()"
        [hidden]="submitButtonHidden"
        class="btn-primary">
        Submit
        </button>
      </div>


    </form>
  <br/>
    <div id = "cost-div" *ngIf="paylocityCost">
      <h2><u>Benefits Cost</u></h2>
      <label>Yearly Total for {{paylocityCost.employees.length}} employee(s):&nbsp;</label> <span class = "cost-span">${{paylocityCost.yearlyCost}}</span><br/>
      <label>Paycheck Amount:</label><br/>
      <div *ngFor="let count of paylocityCost.employees; let i = index;">
        Employee {{paylocityCost.employees[i].firstName}}&nbsp;{{paylocityCost.employees[i].lastName}}:
        <span class = "cost-span" *ngIf="paylocityCost.payCheckCost[i]">${{paylocityCost.payCheckCost[i].toFixed(2)}}</span><br/>
      </div>
    </div>
  </div>
</div>


